.easy-table {
    border: 1px solid #eaf3f3;

    thead {
        tr:first-child {
            background-color: #1a879a;

            th {
                color: #fff;
                font-weight: 400;
            }
        }
    }

    tr {

        td,
        th {
            padding: 10px;
        }

        &:nth-child(odd) {
            background-color: #e8f3f3;
        }

        &:nth-child(even) {
            background-color: #fff;
        }
    }
}