.easy-table {
    border: 1px solid #d2d2d2;
    border-spacing: 0;

    a {
        color: #fff;
    }

    thead {
        tr:first-child {

            th {
                background: #355d84;
                background: -moz-linear-gradient(top,  #355d84 0%, #5f87af 100%);
                background: -webkit-linear-gradient(top,  #355d84 0%,#5f87af 100%);
                background: linear-gradient(to bottom,  #355d84 0%,#5f87af 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#355d84', endColorstr='#5f87af',GradientType=0 );
                font-weight: 400;
            }
        }
    }

    tr {
        td,
        th {
            background-color: #5f87af;
            color: #fff;
            padding: 15px;
        }
    }
}