.easy-table {
    border: 1px solid #d2d2d2;
    border-spacing: 0;

    a {
        color: #fff;
    }

    thead {
        tr:first-child {
            th {
                font-weight: 400;
                background: #AA3939;
                background: -moz-linear-gradient(top,  #983737 0%, #983737 50%, #AA3939 51%, #AA3939 100%);
                background: -webkit-linear-gradient(top,  #983737 0%,#983737 50%,#AA3939 51%,#AA3939 100%);
                background: linear-gradient(to bottom, #983737 0%, #983737 50%, #AA3939 51%, #AA3939 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#983737', endColorstr='#AA3939',GradientType=0 );
            }
        }
    }

    tr {
        td,
        th {
            background: #AA3939;
            color: #fff;
            padding: 15px;
        }

        &:last-child {
            td {
                background: #AA3939;
                background: -moz-linear-gradient(top,  #AA3939 0%, #AA3939 50%, #983737 51%, #983737 100%);
                background: -webkit-linear-gradient(top,  #AA3939 0%,#AA3939 50%,#983737 51%,#983737 100%);
                background: linear-gradient(to bottom, #AA3939 0%, #AA3939 50%, #983737 51%, #983737 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AA3939', endColorstr='#983737',GradientType=0 );
            }
        }
    }
}