.easy-table {
    border: 1px solid #f1f1f1;

    thead {
        tr:first-child {
            background: #646f7f;
            background: -moz-linear-gradient(top,  #646f7f 0%, #4a5564 100%);
            background: -webkit-linear-gradient(top,  #646f7f 0%,#4a5564 100%);
            background: linear-gradient(to bottom,  #646f7f 0%,#4a5564 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646f7f', endColorstr='#4a5564',GradientType=0 );

            th {
                color: #fff;
                font-weight: 400;
            }
        }
    }

    tr {

        td,
        th {
            padding: 20px;
        }

        td {
            border-bottom: 1px solid #b9b9b9;
        }

        &:nth-child(odd) {
            background-color: #f0f3f5;
        }

        &:nth-child(even) {
            background-color: #ffffff;
        }
    }
}