@import 'colors';

.pagination {
    tr {
        td {
            padding: 5px !important;
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 3px;
            border: 1px solid #d7d7d7;
            margin-right: 3px;
            color: #7d7d7d;
            cursor: pointer;

            &:hover {
                background-color: $pagination_current_page;
                a {
                    color: #7d7d7d;
                }
            }

            &.current-page {
                cursor: default;
                background-color: $pagination_current_page;
            }
        }
    }
}